<template>
  <div class="home">
    <Wary/>
    <Cart/>
    <Zhongjian/>
    <Bottun/>
  </div>
</template>
<style>

</style>
<script>
	import Cart from '../components/Cart.vue'
  import Wary from '../components/Wary.vue'
  import Zhongjian from '../components/Zhongjian.vue'
  import Bottun from '../components/Bottun.vue'
export default {
 components:{Cart,Wary,Zhongjian,Bottun}
}
</script>
