<template lang="">
  <div class="buttom">
    <div class="left-buttom">
      <div class="tuu"><img src="../assets/矩形 2.png" alt="" /></div>
      <div class="tuu"><img src="../assets/分组 1.png" alt="" /></div>
      <div class="tuu"><img src="../assets/分组 2.png" alt="" /></div>
      <div class="tuu"><img src="../assets/分组 3.png" alt="" /></div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
.left-buttom {
  width: 90%;
  height: 40px;
  border-radius: 25px;
  background: #eaebed;
  position: fixed;
  bottom: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.tuu {
  width: 20px;
  height: 20px;
}
.buttom {
  width: 90%;
  margin: 0 auto;
}
</style>