<template lang="">
    <div>
       <div id="app">
          <img src="https://img.js.design/assets/img/61405dfba781860684064243.png" alt="">
          <router-view />
        </div>  
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
   img{
     width: 326px;
     height: 126px;
   } 
</style>